.DS_Store
.Rhistory
.RData
.Rproj.user
.externalToolBuilders/
.project
.settings
.texlipse
cache
*.toc
*.bak
*.loc
*.synctex.gz
*.backup
*.fls
*fdb_latexmk
*.idx
*.ind
*.log
*.ilg
*.brf
*.blg
*.spl
*.dvi
*.aux
*.out
script.tex
script.pdf
*-concordance.tex
*~
\#*
chapter??.R
chapter??.tex
topic??.tex
figure/ch??_fig*.pdf
script.bbl
figure/
EFM.model.sens.txt
EFM1.model.txt
EFM2.model.txt
EFM3.model.txt
EFM4.model.txt
TempModel2.txt
TempModel3.txt
exchange_model.txt
jag_model_independent.txt
